 .btn-add {
     color: white;
     padding: 16px 10px;
     border-radius: 8px;
     border: none;
     background-color: #4589FF;
 }

 .btn-add:hover {
     background-color: #005DFF;
 }

 .btn-add:active {
     background-color: #091931;
 }

 .btn-secondary-with-icon {
     background-color: white;
     border-radius: 10px;
     padding: 16px 10px;
     border: 1px solid #647188;
     color: #647188;
 }

 .btn-secondary-with-icon:hover {
     border: 2px solid #4589FF;
     color: #4589FF;
 }

 .btn-secondary-with-icon:active {
     border: 1px solid #005DFF;
     color: #005DFF;
 }

 .btn-no-icon {
     color: white;
     padding: 18px 10px;
     border-radius: 8px;
     border: none;
     background-color: #4589FF;
 }

 .btn-no-icon:hover {
     background-color: #005DFF;
 }

 .btn-no-icon:active {
     color: #4589FF;
     background-color: white;
 }

 .btn-secondary {
     background-color: white;
     border-radius: 8px;
     padding: 18px 10px;
     border: 1px solid #647188;
     color: #647188;
 }

 .btn-secondary:hover {
     border: 2px solid #4589FF;
     color: #4589FF;
 }

 .btn-secondary:active {
     border: 1px solid #005DFF;
     color: #005DFF;
 }

 .btn-with-icon {
     color: white;
     border: none;
     border-radius: 10px;
     padding: 16px 10px;
     background-color: #4589FF;
 }

 .btn-with-icon:hover {
     background-color: #005DFF;
 }

 .btn-with-icon:active {
     color: #4589FF;
     background-color: white;
 }