.contact-menu ::-webkit-scrollbar {
	width: 10px;
	background-color: transparent;
}

.contact-menu {
	position: fixed;
	left: 222px;
	top: 96px;
	bottom: 0;
	overflow-y: scroll;
	padding: 32px 28px 0px;
	width: 466px;
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.contact-menu button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.contact-list {
	display: flex;
	flex-direction: column;
}

.contact-card {
	padding: 12px;
	border-radius: 8px;
}

.contact-card-content {
	display: flex;
	gap: 35px;
	padding-left: 12px;
}

.contact-card:hover {
	background-color: #d2e3ff;
	cursor: pointer;
}

.contact-card:active {
	background-color: #4589ff;
}

.contact-card.active {
	background-color: #4589ff;
	color: white;
}

.contact-card.active .contact-email {
	color: white;
}

.alphabet-header {
	margin: 16px 0 0 0;
}

.alphabet-header h3 {
	margin: 0 0 0 36px;
	font-size: 18px;
	font-weight: 600;
	color: #333;
}

.divider {
	display: block;
	border-bottom: 1px solid #d2e3ff;
	margin: 8px 0;
}

.user-avatar-lg {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 3px solid white;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
}

.details-avatar {
	margin-right: 22px;
}

.avatar-content {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
    font-size: 33px;
}

.avatar-initials {
	font-size: 46px;
	color: white;
}

.contact-info {
	display: flex;
	flex-direction: column;
	font-size: 19px;
}

.contact-name {
	font-weight: bold;
}

.contact-email {
	color: #4589ff;
	font-size: 16px;
	overflow-wrap: anywhere;
}

.contact-form-header {
	background: #005dff;
	color: #ffffff;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	height: 35%;
    justify-content: center;
}

.contact-form-header h2 {
	font-size: 40px;
	font-weight: 700;
}

.contact-form-header h3 {
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

.contact-side-menu form {
	flex-direction: column;
	align-items: center;
	padding: 0px 12px;
	justify-content: space-between;
    height: 60%;
    margin: 24px 0px;
        flex: 1;
}

.form-buttons {
	display: flex;
	justify-content: center;
	gap: 25px;
	margin-top: 32px;
}

.form-group {
	width: 100%;
	min-height: 65px;
	padding: 0 16px;
}

.input-icon-container {
	border-bottom: 1px solid #d1d1d1;
	display: flex;
	align-items: center;
	padding: 12px 0px;
}

.form-group.error .input-icon-container {
	border-color: #e60026;
}

.input-icon-container input {
	flex: 1;
	border: none;
	outline: none;
	background: transparent;
	font-size: 16px;
}

.user-avatar-sm {
	min-width: 42px;
	min-height: 42px;
	font-size: 16px;
	font-weight: 500;
	border: white 2px solid;
}

.contact-details-content {
	margin: 0 0 0 689px;
	padding: 72px 62px;
}

.contact-details-content h1 {
	font-size: 47px;
	font-weight: 600;
}

.contact-details-content h2 {
	font-size: 23px;
	font-weight: 700;
	margin-bottom: 21px;
}

.contact-details-content h3 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 22px;
}

.contact-details {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

::-webkit-scrollbar {
	background: white;
	width: 24px;
}

::-webkit-scrollbar-thumb {
	background: #8a8a8a;
	border-radius: 12px;
	border: 8px solid white;
}

.desktop-contact-actions {
	display: flex;
	gap: 16px;
	margin-top: 8px;
}

.contact-header {
	align-items: center;
	margin-bottom: 21px;
	flex-wrap: wrap;
}

#contact-header-title-mobile {
		display: none;
	}

.contact-form-avatar {
	background-color: #d1d1d1;
}

.back-btn-mobile {
	display: none;
	border: none;
	background: transparent;
	padding: 8px;
	margin-right: 8px;
	cursor: pointer;
	width: 32px;
	height: 32px;
	background-image: url("/assets/icon/contacts/back.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px 24px;
}

.overlay-menu {
	width: 584px;
}

.mobile-contact-actions {
	display: none;
	justify-content: center;
	align-items: center;
	height: 65px;
	width: 65px;
	position: absolute;
	bottom: 23px;
	right: 23px;
	border-radius: 10px;
}

.mobile-contact-actions img {
	width: 36px;
	height: 36px;
}

@media (max-width: 1025px) {
	.overlay-menu.open {
		position: fixed;
		right: 0;
		margin: auto;
		top: 50%;
		left: 0;
		transform: translateY(-50%) !important;
		box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
		background: white;
		border-radius: 30px !important;
		width: 396px;
		height: auto;
	}

	.contact-form-header {
	height: 180px;
	}
}

@media (max-width: 1024px) {
    #contact-header-title-mobile {
		display: block;
	}
	#contact-header-title-desktop {
		display: none;
	}

	.contact-form-header img {
		display: none;
	}

	.contact-header {
		margin-top: 34px;
		align-items: center;
	}

	.contact-details-content {
		margin: 0;
		position: fixed;
		top: 96px;
		right: 0;
		left: 0;
		bottom: 80px;
		background: white;
		z-index: 1;
		display: none;
		padding: 64px 16px;
	}

	.contact-details-content h1 {
		font-size: 33px;
		font-weight: 600;
	}

	.contact-details-content h3 {
		font-size: 19px;
		font-weight: 700;
		margin-bottom: 12px;
	}

	.back-btn-mobile {
		position: absolute;
		top: 64px;
		right: 16px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.back-btn-mobile:active {
		background-image: url("/assets/icon/contacts/back-active.svg");
	}

	.contact-menu {
		left: 0;
		width: 100%;
		box-shadow: none;
		padding: 16px;
	}

	.contact-menu {
		margin-bottom: 80px;
	}

	.dropdown-menu-mobile.open,
	button,
	span {
		font-size: 16px;
	}

	.btn-add-contact {
		position: fixed;
		right: 26px;
		bottom: 103px;
		width: auto !important;
		padding: 16px;
	}

	.full-text {
		display: none;
	}
}

.mobile-contact-actions:hover {
	background-color: #005dff;
}

.dropdown-menu-mobile {
	z-index: 9;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-weight: 400;
	position: absolute;
	right: 0;
	background-color: white;
	border: 1px solid #d1d1d1;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	width: 116px;
	height: 100px;
	padding: 6px;
	border-radius: 20px 20px 0px 20px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transform: translateX(24px);
	transition:
		transform 180ms ease,
		opacity 180ms ease;
}

.dropdown-menu-mobile.open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transform: translateY(-20px);
}

.popup-btn {
	padding: 8px;
	border-radius: 8px;
}

.popup-btn:hover {
	background-color: #e3eeff;
	cursor: pointer;
}

@media (max-width: 427px) {
	.btn-add-contact {
		height: 44px !important;
		width: 44px !important;
		padding: 8px !important;
	}
	.btn-add-contact svg {
		width: 32px;
		height: 32px;
	}
	.contact-side-menu.open {
		width: calc(100% - 32px);
	}
		.desktop-contact-actions {
		display: none;
	}
	.mobile-contact-actions {
		position: absolute;
		display: flex;
		height: 44px;
		width: 44px;
	background-color: #4589ff;
	}
	.user-avatar-lg {
		width: 90px;
		height: 90px;
	}
}

@media (max-width: 370px) {
	.contact-details-content h1 {
		font-size: 26px;
	}

	.user-avatar-lg {
		width: 70px;
		height: 70px;
	}

	.avatar-initials {
		font-size: 32px;
	}
}
